$main-color: #2EAD97;
$secondary-color: #f4b40d;

$text-color: #fff;
$brand-primary: $secondary-color !default;
@import 'bootstrap_custom';


html,
body {
  height: 100%;
}

body {
  background: $main-color;
  color: $text-color;
}

h1 {
  margin-bottom: 0;
  font-size: 3em;
  text-align: center;
}

h3 {
  text-align: center;
}

.navbar .navbar-brand {
  color: $text-color;
}

.container.page-wrap {
  min-height: 100%;
  padding-bottom: 3rem;
  margin-bottom: -3rem;

  &::after {
    display: block;
    content: "";
  }
}

.site-footer {
  height: 3rem;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;

  a {
    color: $text-color;
    text-decoration: underline;
  }
}

.icon {
  img {
    display: block;
    width: 80px;
    margin: 0 auto;
  }
}

.lead {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-teaser {
  margin-top: 4rem;
}


@media (min-width: 992px) {
  .main-teaser {
    margin-top: 8rem;
  }
}



.embedded {
  background: $text-color;
}

.appstore-link {
  display: block;
  max-width: 140px;
  margin: 0 auto 1rem;

  img {
    max-width: 100%;
  }
}

