---
title: eLadder - The ladder app
---
<div class="row">
  <div class="col-md-6 push-md-6">
    <div class="main-teaser">
      <div class="icon">
        <img src="/images/icon.png" alt="app icon">
      </div>
      <h1 class="mt-1">eLadder</h1>
      <div class="mt-4">
        <p class="lead">
          Create personal leagues to keep track of foosball or FIFA games. An ongoing, elo-based rating shows who's really the best in your league.
        </p>
      </div>
      <div class="mt-1">
        <a href="https://itunes.apple.com/de/app/eladder/id1109846671?l=en&mt=8" class='appstore-link' target="_blank" onclick="ga('send', 'event', 'outbound', 'appstore-link', 'ios');">
          <img src="images/download_ios.png" alt="AppStore Link Icon">
        </a>
        <a class="appstore-link" href='https://play.google.com/store/apps/details?id=de.sebastianrehm.eladder&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 pull-md-6 p-2">
    <img src="images/phones.png" alt="phones with screenshots of the app" class="w-100">
  </div>
</div>
