---
title: eLadder - The ladder app
---


<div class="row">
  <div class="col-md-6 push-md-6">
    <div class="main-teaser">
      <div class="icon">
        <img src="/images/icon.png" alt="app icon">
      </div>
      <h1 class="mt-1">eLadder</h1>
      <div class="mt-4">
        <p class="lead">
          Personal online leagues to keep track of foosball or FIFA games. An elo-Rating shows who's really the best in your league.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 pull-md-6 p-2">
    <img src="images/phones.png" alt="phones with screenshots of the app" class="w-100">
  </div>
</div>
